<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="covid-analytics.ZPM">
    <Module>
      <Name>covid-analytics</Name>
      <Version>1.0.0</Version>
      <Description>covid19 analytics demo</Description>
      <Keywords>covid19,analytics</Keywords>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>csvgen</Name>
          <Version>1.1.8</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>dsw</Name>
          <Version>3.0.10</Version>
        </ModuleReference>
      </Dependencies>
      <Resource Name="Data.PKG"/>
      <Resource Name="Covid19-Countries by confirmed.pivot.DFI"/>
      <Resource Name="Covid19-Covid19 data.dashboard.DFI" />
      <SourcesRoot>src</SourcesRoot>
    </Module>
  </Document>
</Export>